PGHOST=your-host.aivencloud.com
PGPORT=your-port
PGUSER=your-username
PGPASSWORD=your-password
PGDATABASE=your-database
ASPNETCORE_ENVIRONMENT=Development
GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your-google-client-secret
EMAIL_FROM=your-email@domain.com
EMAIL_USERNAME=your-email@domain.com
EMAIL_PASSWORD=your-strong-password
SMTP_HOST=smtp.domain.com
SMTP_PORT=587
